@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");
body {
  margin: 0;
  padding: 0;
}
#backgroundvideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro h1 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 65px;
  text-align: center;
  font-weight: 500;
}
.intro p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-weight: 150;
  padding-top: 100px;
}
.entry_section div {
  text-align: center;
  padding: 30px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #86c5ea;
  font-weight: 150;
}
.entry_section {
  padding: 145px;
}
button {
  border: none;
  background-color: #86c5ea;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  padding: 15px 30px;
  justify-content: center;
  transition-duration: 0.4s;
  display: block;
  margin: auto;
  margin-top: 60px;
}
button:hover {
  background-color: #ffffff;
  color: #86c5ea;
  border: 1px solid #86c5ea;
}
#result {
  display: none;
  color: #86c5ea;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-family: 150;
  font-weight: 500;
  text-align: center;
  margin-top: 400px;
  margin-bottom: 200px;
}
#cloudPhoto {
  display: none;
  max-height: 500px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
